---
layout: archive
title: "Writing"
permalink: /blog/
author_profile: true
nav: false
---

{% for post in site.posts %}
  {% include archive-single.html %}
{% endfor %}

<hr>

<p> More blog posts coming soon!</p>

<p>I’ll be diving into the literature I read, some of my thoughts on the state of energy justice, and my graduate school experiences.</p>

<p>To make this page a little less empty, here’s me upon college graduation — yay!</p>

<img src="{{ '/images/Stacy_grad.png' | relative_url }}"
     alt="Graduation photo"
     style="max-width:60%; display:block; margin: 2em auto;">

