---
layout: archive
title: "Research Interests"
permalink: /research/
author_profile: true
---

<p>
  I study how households adapt to extreme heat, how energy burden shapes cooling behavior,
  and how policy design can support equitable and resilient energy systems. My work integrates
  large-scale utility records, high-resolution weather data, and empirical modeling. Feel free to connect with me!
</p>

<h2>Areas of Interest</h2>

<ul>
  <li>Residential electricity use modeling</li>
  <li>Extreme heat and severe weather impacts</li>
  <li>Energy equity and climate vulnerability</li>
  <li>Climate resilience & the built environment</li>
  <li>Equitable energy policy interventions and programming</li>
</ul>

<h2>*Research Updates*</h2>

<div>
  <p>Extreme Heat and Residential Electricity Demand in a Hot-Humid Climate</p>
  <ul>
    <li>AAAS Annual Meeting 2026 — Poster presentation</li>
    <li>
      <a href="https://www.nationalacademies.org/projects/CAST-PSSI-25-02/event/46167" target="_blank" rel="noopener noreferrer">
        NASEM Workshop on Understanding and Addressing Energy Affordability in the United States
      </a>
      — Invited poster session
    </li>
    <li>CMU Energy Week 2026 — Poster presentation </li>
    <li>
      <a href="https://www.cmu.edu/graduate/news-and-events/graduate-student-spotlight/ay-25-26/stacy-godfreey-igwe.html" target="_blank" rel="noopener noreferrer">
        CMU Scholar to Scholar Graduate Research Showcase
      </a>
      — Poster presentation
    </li>
    <li>C3E Symposium 2026 — Poster presentation; <em>2026 Outstanding Poster Presentation Winner</em></li>
    <li>ISSST 2026 (June) — Upcoming oral presentation </li>
  </ul>
</div>

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

